@using Radzen
@using Radzen.Blazor

<div class="ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="home">SPPFC</a>
    </div>
</div>

<RadzenStack AlignItems="AlignItems.Center">
    <RadzenPanelMenu Style="width:100%" Multiple="@multiple">
        <RadzenPanelMenuItem Text="Admin" Icon="shield_person">
            @* <RadzenPanelMenuItem Text="Home" Path="home" Icon="account_circle"></RadzenPanelMenuItem> *@
            <RadzenPanelMenuItem Text="Role Settings" Path="admin/rolesettings" Icon="settings"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="User Creation" Path="admin/usercreation" Icon="person_add"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="User Settings" Path="admin/usersettings" Icon="manage_accounts"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Message Board" Path="admin/messageboard" Icon="message"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="SMS" Path="admin/sms" Icon="sms"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="SMS Settings" Path="admin/smssettings" Icon="mark_chat_unread"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Adjustment Days" Path="admin/adjustmentdays" Icon="calendar_today"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Hp Charge Duration" Path="admin/hpchargeduration" Icon="history"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Late Interest Amount" Path="admin/lateinterestamount" Icon="attach_money"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Receipt Late Payment" Path="admin/receiptlatepayment" Icon="receipt_long"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Late Interest Entries" Path="admin/lateinterestentriesinmonth" Icon="trending_down"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Master" Icon="payment">
            <RadzenPanelMenuItem Text="Company" Path="master/company" Icon="apartment" />
            <RadzenPanelMenuItem Text="Branch" Path="master/branches" Icon="account_tree" />
            <RadzenPanelMenuItem Text="Area" Path="master/area" Icon="map" />
            <RadzenPanelMenuItem Text="Credit Master" Path="master/credit" Icon="credit_card" />
            <RadzenPanelMenuItem Text="Debit Master" Path="master/debit" Icon="money_off" />
            <RadzenPanelMenuItem Text="Revenue Head" Path="master/revenuehead" Icon="trending_up" />
            <RadzenPanelMenuItem Text="Expense Master" Path="master/expensemaster" Icon="trending_down" />
            <RadzenPanelMenuItem Text="Vehicle Master" Path="master/vehicle-master" Icon="directions_car" />
            <RadzenPanelMenuItem Text="Interest" Path="master/interest" Icon="percent" />
            <RadzenPanelMenuItem Text="Auto Consultant" Path="master/autoconsultant" Icon="engineering" />
            <RadzenPanelMenuItem Text="RTO Agent" Path="master/rtoagent" Icon="badge" />
            <RadzenPanelMenuItem Text="Notice Type" Path="master/noticetype" Icon="notifications_active" />
            <RadzenPanelMenuItem Text="Contact Ph.No" Path="master/contactph" Icon="call" />
            <RadzenPanelMenuItem Text="Expense Limit" Path="master/expenselimit" Icon="account_balance_wallet" />
            <RadzenPanelMenuItem Text="Pending Limit" Path="master/pendinglimit" Icon="hourglass_bottom" />
            <RadzenPanelMenuItem Text="PDR Lock" Path="master/pdrlock" Icon="lock" />
            <RadzenPanelMenuItem Text="Birthday Messages" Path="master/birthdaymessages" Icon="cake" />
        </RadzenPanelMenuItem>

        <RadzenPanelMenuItem Text="Transaction" Icon="save">
            <RadzenPanelMenuItem Text="HP Entry" Path="transactions/hpentry" Icon="grid_on"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="HP Entry 2" Path="transactions/hpentry2" Icon="list"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="DropDown" Path="dropdown" Icon="dns"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="DropDownDataGrid" Path="dropdown-datagrid" Icon="receipt"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="ListBox" Path="listbox" Icon="view_list"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="TemplateForm" Path="templateform" Icon="line_style"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Reports" Icon="account_box">
            <RadzenPanelMenuItem Text="Tabs" Path="tabs" Icon="tab"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Panel" Path="panel" Icon="content_paste"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Fieldset" Path="fieldset" Icon="account_balance_wallet"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Card" Path="card" Icon="line_style"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Audit" Icon="account_box">
            <RadzenPanelMenuItem  Text="Item1"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem  Text="Item2"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="More items">
                <RadzenPanelMenuItem Text="More sub items">
                    <RadzenPanelMenuItem Text="Item3"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Item4"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </RadzenPanelMenuItem>        
    </RadzenPanelMenu>

</RadzenStack>


@code {
    private bool collapseNavMenu = true;
    private HashSet<string> expandedMenus = new HashSet<string>();

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleSubMenuAdmin() => ToggleSubMenu("admin");
    private void ToggleSubMenuMaster() => ToggleSubMenu("master");
    private void ToggleSubMenuTransaction() => ToggleSubMenu("transaction");
    private void ToggleSubMenuReports() => ToggleSubMenu("reports");
    private void ToggleSubMenuAudit() => ToggleSubMenu("audit");

    private void ToggleSubMenu(string menuKey)
    {
        if (expandedMenus.Contains(menuKey))
        {
            expandedMenus.Remove(menuKey);
        }
        else
        {
            expandedMenus.Add(menuKey);
        }
        StateHasChanged();
    }
}

@code {
    bool multiple = false;
}